<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user_info', user: current_user %>
      <div class="blank-20-pixels"></div>
      <%= write_post_collapse(local_assigns) %>
    </div>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>