<% provide(:title, 'Sign Up') %>
<h1 class="center">Sign Up</h1>

<%= render 'shared/form_container' do %>
  <%= render 'users/user_form', confirmation: true, button_text: "Create my account." %>
<% end %>