<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info', user: @user %>
  </aside>
  <span class="visible-xs-inline"><br></span>
  <section class="max-width-380-centered">
    <p>
      <% if @user.posts.any? %>
        <%= will_paginate @posts %>
        <ul class="posts">
          <%= render @posts %>
        </ul>
        <%= will_paginate @posts %>
      <% else %>
        This user has not posted yet.
      <% end %>
    </p>
  </section>
</div>