@import "custom_navbar";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background: #DDD;
}

.main-content {
  padding-top: 66px;
  padding-bottom: 10px;
  background: white;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 116px;
  }
}

.btn-sign-up {
  @include box-sizing;
  width: 220px;
  font-size: 200%;
  border-radius: 10px;
  padding: 20px;
}

.center {
  text-align: center;
}

.sign-up-form {
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    border: 2px solid red;
    &:focus {
      outline: none !important;
      border: 2px solid red;
    }
  }
}

.footer-link {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.login-or-signup {
  margin: auto;
  th {
    padding: 0 10px;
  }
  div, span {
    padding: 10px 10px;
    font-size: 30px;
    font-weight: normal;
  }
}

.users {
  img {
    margin-right: 10px;
  }
  th {
    font-weight: normal;
    font-size: 150%;
    padding: 5px 0;
  }
}