@import "custom_navbar";

body {
  background: #DDD;
}

.main-content {
  padding-top: 66px;
  padding-bottom: 10px;
  background: white;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 116px;
  }
}

.btn-sign-up {
  font-size: 200%;
  border-radius: 10px;
  padding: 20px;
}

.center {
  text-align: center;
}