<div class="row hidden-xs">
  <div class="col-xs-12 col-sm-2 col-sm-offset-8 col-md-1 col-md-offset-10 footer-link">
    <%= link_to "About", about_path %>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-1 footer-link">
    <%= link_to "Contact", contact_path %>
  </div>
</div>